<div class="wallet-container">
  <div class="top-card">
    @if (authService.accountBalance$ | async; as balance) {
      <span>{{ balance }}</span>
    }
  </div>
  <div class="bottom-card">
    <div class="card-content">
      <span>Current network</span>
      @if (authService.accountNetwork$ | async; as network) {
        <span class="content-name">
          Ethereum network:
          <span>{{ network }}</span>
        </span>
      }
    </div>
    <div class="card-content">
      <span>Wallet address</span>
      @if (authService.connectedAccount$ | async; as account) {
        <span matTooltip="{{ account }}">
          {{ account | shortenAddress }}
        </span>
      }
    </div>
  </div>
</div>
