@import '../../styles.scss';

.wallet-container {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  height: 30rem;
  border-radius: 25px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: $base-background;

  .top-card {

  }

  .bottom-card {
    margin-top: auto;
    height: 14.063rem;
    padding: 1rem;
    border-radius: 25px;
    background-color: $base-white;

    .card-content {
      display: flex;
      flex-direction: column;

      .content-name {
        height: 35px;
        margin-bottom: 10px;
        padding: 5px 10px;
        border: 1px solid rgba(119,146,163,255);
        border-radius: 10px;
      }
    }

    .card-action-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 100%;
      border-radius: 25px;
      background-color: $button-action;
      
      .btn-title {
        padding: 5px 10px;
        color: white;
      }

      // .spinner .mat-progress-spinner circle {
      //   stroke: #fff;
      // }
    }
  }
}
