@import '../../styles.scss';

.wallet-container {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  height: 30rem;
  border-left: 1px solid black;

  .top-card {

  }

  .bottom-card {
    margin-top: auto;
    height: 14.063rem;
    padding: 1rem;
    border-radius: 25px;
    background-color: $base-white;

    .card-content {
      display: flex;
      flex-direction: column;

      .content-name {
        height: 35px;
        margin-bottom: 10px;
        padding: 5px 10px;
      }
    }

    .card-action-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 100%;
      border-radius: 25px;
      background-color: $button-action;
      
      .btn-title {
        padding: 5px 10px;
        color: white;
      }
    }
  }
}
