<mat-tab-group>
  <mat-tab label="Products">
    <ng-template matTabContent>
      <all-products />
    </ng-template>
  </mat-tab>
  <mat-tab [disabled]="!authService.isConnected()" label="My Products">
    <ng-template matTabContent>
      <my-products />
    </ng-template>
  </mat-tab>
  <mat-tab [disabled]="!authService.isConnected()" label="Messages">
    <ng-template matTabContent>
      <all-products />
    </ng-template>
  </mat-tab>
  <!-- [disabled]="!authService.isConnected()" -->
  <mat-tab label="My Groups">
    <ng-template matTabContent>
      <my-groups-container />
    </ng-template>
  </mat-tab>
</mat-tab-group>
